* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sombras {
  box-shadow: 0 10px 30px -10px rgb(0, 0, 0);
}

.title_size {
  font-size: 5rem;
  text-align: center;
}

.txt_size {
  font-size: 2rem;
  line-height: 1.75;
  font-weight: 400;
}

.txt__size2 {
  font-size: 200px;
}

.color__txt {
  color: white;
}

.color__card {
  background-color: #01560a;
  color: white;
}

main {
  h1 {
    font-family: "Mukta", sans-serif;
  }

  h2 {
    color: white;
  }

  label {
    font-size: x-large;
  }
}

.flex_linea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img_size {
  max-width: 100%;
}
